{% block wl_conversion_header %} 
    <div class="topbar" style="background: {{shopware.theme['wl-background-color']}};">
        <div>
            {{shopware.theme['wl-desktop-text1']}}
        </div>
        <div>
            {{shopware.theme.topBarText1}}
        </div>
        <div>
            {{shopware.theme['wl-tablet-text1']}}
        </div>
    </div>
{% endblock %}     